/* initialzie */
* {
  margin: 0;
  padding: 0;
}

body {
  width: 600px;
  margin: 20px auto;
}

section {
  width: 200px;
  height: 200px;
  border: 3px solid black;
}

div.div-wrapper {
  width: 200px;
  height: 200px;
  background-color: red;

  transform: rotate(60deg);
  /* transform: translateX(50px) rotate(60deg) ; */
  transform-origin: right bottom;
}