/* initialize */
* {
  padding: 0;
  margin: 0;
}

body {
  width: 200px;
  margin: 200px auto;
  perspective: 400px;
}

section {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotateDiv 12s linear 0s infinite;
}

div {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  height: 200px;
  background-color: red;
  opacity: 0.2;
  /* backface-visibility: hidden; */
}

div:nth-child(1) {
  transform: rotateY(0deg) translateZ(100px);
  background-color: red;
}

div:nth-child(2) {
  transform: rotateY(90deg) translateZ(100px);
  background-color: yellow;
}

div:nth-child(3) {
  transform: rotateY(180deg) translateZ(100px);
  background-color: green;
}

div:nth-child(4) {
  transform: rotateY(270deg) translateZ(100px);
  background-color: blue;
}

div:nth-child(5) {
  transform: rotateX(90deg) translateZ(100px);
  background-color: aqua;
}

div:nth-child(6) {
  transform: rotateX(270deg) translateZ(100px);
  background-color: black;
}

@keyframes rotateDiv {
  from { transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg); }
  to { transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg); }
}