/* initialize */
* {
  padding: 0;
  margin: 0;
}

body {
  padding: 10px;
}

div.box {
  width: 200px;
  height: 200px;
  background-color: orange;

  transition-duration: 2s;
}

div.box:hover {
  width: 400px;
  height: 400px;
  background-color: red;
}

/* graph */
#graph {
  border: 3px solid black;
  width: 600px;
}

#graph > div.bar {
  width: 10px;
  height: 40px;
  background-color: orange;
  margin: 5px;

  transition-duration: 2s;
}

#graph:hover > div.bar {
  width: 590px;
}
