/* initialize */
* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
}

body {
  width: 600px;
  margin: 0 auto;
}

/* canvas */
#canvas {
  position: relative;
  width: 100%;
  height: 200px;
  perspective: 1500px;
}

#merry {
  position: absolute;
  left: 50%;
  top: 30px;
  animation: rotateMerry 12s linear 0s infinite;
  transform-style: preserve-3d;
}

#face {
  position: absolute;
  margin-left: -115px;
  left: 0;
  top: 0;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.cell {
  width: 200px;
  height: 200px;
  margin-bottom: 5px;
  background: url('http://placehold.it/190x190');
  background-size: 100% 100%;
  transition-duration: 0.5s;
}

#face:nth-child(1) {
  transform: rotateY(0deg) translateZ(-400px);
}
#face:nth-child(2) {
  transform: rotateY(36deg) translateZ(-400px);
}
#face:nth-child(3) {
  transform: rotateY(72deg) translateZ(-400px);
}
#face:nth-child(4) {
  transform: rotateY(108deg) translateZ(-400px);
}
#face:nth-child(5) {
  transform: rotateY(144deg) translateZ(-400px);
}
#face:nth-child(6) {
  transform: rotateY(180deg) translateZ(-400px);
}
#face:nth-child(7) {
  transform: rotateY(216deg) translateZ(-400px);
}
#face:nth-child(8) {
  transform: rotateY(252deg) translateZ(-400px);
}
#face:nth-child(9) {
  transform: rotateY(288deg) translateZ(-400px);
}
#face:nth-child(10) {
  transform: rotateY(324deg) translateZ(-400px);
}

.cell:hover {
  transform: scale(1.2) translateZ(50px);
}

@keyframes rotateMerry {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}
