body {
  padding: 0;
  margin: 0;
  background-color: floralwhite;
}

h1 {
  margin-top: 50px;
  margin-left: 510px;
  font-size: 60px;
  font-family: 'Karla', sans-serif;
  font-weight: lighter;
}

.slider-frame {
  overflow: hidden;
  height: 800px;
  width: 1200px;
  margin-left: 360px;
  margin-top: 20px;
}

@keyframes slide-animation {
  0% { left: 2400px }
  50% { left: 1200px }
  100% { left: 0px }

}

.slide-images {
  width: 3600px;
  height: 800px;
  /* margin: 0 0 0 -2400px; */
  margin-left: -2400px;
  position: relative;
  animation-name: slide-animation;
  animation-duration: 11s;
  animation-iteration-count: infinite;
  animation-direction: normal;
  animation-play-state: running;
}

.img-container {
  float: left;
  height: 800px;
  width: 1200px;
  position: relative;
}